#body {
    #header {
        background-color: $color-1;
        #navbar {
            display: flex;
            justify-content: center;
            align-items: center;
            a {
                padding: 1rem 0;
                @extend .title
            }
        }
    }
}