$color-blue : #0F2C59;
$color-black : #000b1d;
$color-white : white;
$color-red: #f76b6b;
$color-btn-exclusive: #fece49;
$color-btn: #F8F0E5;
$color-1 : #DAC0A3;
$color-2 : #EADBC8;
$color-3 : #F8F0E5;
$color-4 : #ffa932;

$margin-default: 1.5rem;

.title {
    text-decoration: none;
    text-transform: uppercase;
    color: $color-black;
    font-size: 40px;
    font-family: fantasy;
}
.subtitle {
    text-transform: capitalize;
    color: $color-black;
    font-size: 20px;
    font-family: fantasy;
}
.bigText {
    color: $color-black;
    font-size: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
}
.middleText {
    text-decoration: none;
    color: $color-black;
    font-size: 17px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
}
.text {
    text-decoration: none;
    color: $color-black;
    font-size: 13px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
}
.button {
    margin: 0 1rem;
    padding: 0.5rem;
    border-radius: 10px;
    border: none;
}