<section class="container">
	<div class="row bg-light login-section">
		<div class="col-4"></div>
		<div class="col-4 p-4">
            <h3>Ingresa una nueva contrase単a para:</h3>
            <p>{{email}}</p>
            <form action="/api/users/changePassword/{{email}}" method="post">
                <div class="row">
                    <div class="col-md-12 mb-3">
                        {{#if messageError}}<p style="color: brown;">{{messageError}}</p>{{/if}}
                        <input type="password" class="form-control" placeholder="Nueva contrase単a" aria-label="Contrase単a" name="password">
                    </div>
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-primary col-12">Cambiar contrase単a</button>
                    </div>
                </div>
            </form>
		</div>
        <div class="col-4"></div>
	</div>
</section>