<main>
    <section id="section">
        <p id="p">Bienvenid@ <span id="name">{{first_name}}</span> al chat grupal!</p>
        <div id="historial"></div>
        <div id="cont-input">
            <span>Escribe aqui tu mensaje:</span>
            <input id="message" type="text">
        </div>
    </section>
</main>


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.5/dist/sweetalert2.all.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>