<h1 class="h1-home">Lista de Productos:</h1>
<ul id="ul-websocket">
    {{!-- ACA SE AGREGA LA LISTA POR WEBSOCKET --}}
</ul>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>