<section class="container">
	<div class="row bg-light login-section">
		<div class="col-4"></div>
		<div class="col-4 p-4">
            <h3>Ingresa el email del usuario a recuperar</h3>
            <form action="/api/users/restore" method="post">
                <div class="row">
                    <div class="col-md-12 mb-3">
                        <input type="email" class="form-control" placeholder="Correo Electrónico" aria-label="Correo" name="email">
                    </div>
                    <p>Te enviaremos un correo con un link para que puedas cambiar la contraseña</p>
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-primary col-12">Enviar</button>
                    </div>
                </div>
            </form>
		</div>
        <div class="col-4"></div>
	</div>
</section>