.message-error {
  color: brown;
  font-size: 13px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500; }

.title, #body #header #navbar a {
  text-decoration: none;
  text-transform: uppercase;
  color: #000b1d;
  font-size: 40px;
  font-family: fantasy; }

.subtitle, #body #main #section-info-user #container-info-user .h2-role {
  text-transform: capitalize;
  color: #000b1d;
  font-size: 20px;
  font-family: fantasy; }

.bigText, #body #main #section-info-user #container-info-user .h3-say-hey, #body #main #container-product-detail .div-detail-body .div-detail .detail-title, #body #main #container-cart-tab #h1-cart, #body #main #section-create-product #container-form-create-product .title-create-product, #body #main #section-login #div-container-form-login #title-form-login, #body #main #section-register-form #div-container-register-form #title-register-form, #body #main #section-restore-password #div-container-restore-form #title-restore-form, #body #main #section-change-password #container-form-change-password #title-change-password, #body #main #section-message .div-container-message .title-messageView, #body #main #section #p, #body #main #section-container-table-users #h1-users, #body #main #realtimeProducts-container #h1-realTimeProducts {
  color: #000b1d;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 400; }

.middleText, #body #main #container-product-detail .div-detail-body .div-detail .detail-text, #body #main #container-product-detail .div-detail-body .div-detail .detail-price {
  text-decoration: none;
  color: #000b1d;
  font-size: 17px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500; }

.text, .input, #body #main #section-create-product #container-form-create-product .form-create-product .div-container-input .input-form-create-product, #body #main #section-login #div-container-form-login #form-login .input-form-login, #body #main #section-register-form #div-container-register-form #register-form .input-register-form, #body #main #section-restore-password #div-container-restore-form #form-restore-password #div-input-restore-form .input-restore-form, #body #main #section-change-password #container-form-change-password #form-change-password .imput-form-change-password, #body #main #section #cont-input #message, #body #main #container-update-product .div-update-body .div-update .input-update, #body #main #section-info-user #container-btn-actions .container-btn-closeSession .btn-closeSession, #body #main #section-info-user #container-btn-actions .btn-exclusive .a-exclusive, #body #main #section-info-user #container-btn-actions .btn-exclusive .a-onlyAdmin, #body #main #section-info-user #container-btn-actions .btn .a-goToCart, #body #main #section-info-user #container-btn-actions .btn .a-chat, #body #main #section-products .container-products-cards .div-card .div-container-content-card .div-card-body .card-title, #body #main #section-products .container-products-cards .div-card .div-container-content-card .div-card-body .card-description, #body #main #section-products .container-products-cards .div-card .div-container-content-card .div-card-body .card-price, #body #main #section-products .container-products-cards .div-card .div-btn-details-card .btn-details .a-details, #body #main #section-products .container-products-cards .div-card .div-btn-details-card .btn-details-disabled .a-details, #body #main #section-products .container-products-cards .div-card .div-btn-deleteProduct .btn-editProduct a, #body #main #container-product-detail .div-detail-body .div-detail .detail-code, #body #main #container-product-detail .div-detail-body .div-detail .detail-id, #body #main #container-cart-tab #table-cart #table-head-cart #tr-head-cart .th-table-cart, #body #main #container-cart-tab #table-cart #table-body-cart .tr-body-cart .td-table-cart, #body #main #container-cart-tab #form-btn-submit #btn-submit, #body #main #container-cart-tab #container-btn-delete #btn-delete, #body #main #section-create-product #container-form-create-product .form-create-product .div-container-input .span-form-create-product, #body #main #section-login #div-container-form-login #form-login .div-container-optionsForm #btn-registerGitHub #a-loginWithGitHub, #body #main #section-login #div-container-form-login #div-container-linksOptions .p-link-option, #body #main #section-register-form #div-container-register-form #div-container-link-login #p-link-login, #body #main #section-restore-password #div-container-restore-form #form-restore-password .p-description-restore-form, #body #main #section-change-password #container-form-change-password .p-email-to-change-password, #body #main #section-message .div-container-message .message-messageView, #body #main #section #historial .cont-msj-username span, #body #main #section-container-table-users #table-users #table-head-user #tr-head-users .th-table-users, #body #main #section-container-table-users #table-users #table-body-user .tr-body-users .td-body-users, #body #main #realtimeProducts-container #table-realtimeproducts #thead-realtimeproducts #tr-head-realtimeproducts .th-table-realtimeproducts, #body #main #realtimeProducts-container #table-realtimeproducts #tbody-websocket tr .td-body-realTimeProducts, #body #main #container-update-product .div-update-body .div-update .span-update, #body #main #container-update-product .div-update-body .div-update .update-code, #body #main #container-update-product .div-update-body .div-update .update-id {
  text-decoration: none;
  color: #000b1d;
  font-size: 13px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500; }

.link, #body #main #section-login #div-container-form-login #div-container-linksOptions .p-link-option .a-link-option, #body #main #section-register-form #div-container-register-form #div-container-link-login #p-link-login #a-link-login, #body #main #section-message .div-container-message .link-messageView {
  color: #0F2C59;
  font-size: 13px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold; }

.button, #body #main #section-info-user #container-btn-actions .container-btn-closeSession .btn-closeSession, #body #main #section-info-user #container-btn-actions .btn-exclusive, #body #main #section-info-user #container-btn-actions .btn, #body #main #section-products .container-products-cards .div-card .div-btn-details-card .btn-details, #body #main #section-products .container-products-cards .div-card .div-btn-details-card .btn-details-disabled, #body #main #section-products .container-products-cards .div-card .div-btn-deleteProduct .btn-deleteProduct, #body #main #section-products .container-products-cards .div-card .div-btn-deleteProduct .btn-editProduct, #body #main #container-product-detail .div-detail-body #container-btn-addToCart #btn-addToCart, #body #main #container-cart-tab #form-btn-submit #btn-submit, #body #main #container-cart-tab #container-btn-delete #btn-delete, #body #main #section-create-product #container-form-create-product .form-create-product #container-btn-publishProduct .btn-form-publishProduct, #body #main #section-login #div-container-form-login #form-login .div-container-optionsForm #btn-login, #body #main #section-login #div-container-form-login #form-login .div-container-optionsForm #btn-registerGitHub, #body #main #section-register-form #div-container-register-form #register-form .btn-register, #body #main #section-restore-password #div-container-restore-form #form-restore-password #div-container-btn-send #btn-send-restore, #body #main #section-change-password #container-form-change-password #form-change-password .btn-change-password, #body #main #section #cont-input #send, #body #main #section-container-table-users #table-users #table-body-user .tr-body-users .td-body-users-options .btn-delete-user-table, #body #main #section-container-table-users #table-users #table-body-user .tr-body-users .td-body-users-options .btn-premium-user-table, #body #main #container-update-product .div-update-body #container-btn-update #btn-update {
  margin: 0 1rem;
  padding: 0.5rem;
  border-radius: 10px;
  border: none;
  transition: 0.3s; }

.button:hover, #body #main #section-info-user #container-btn-actions .container-btn-closeSession .btn-closeSession:hover, #body #main #section-info-user #container-btn-actions .btn-exclusive:hover, #body #main #section-info-user #container-btn-actions .btn:hover, #body #main #section-products .container-products-cards .div-card .div-btn-details-card .btn-details:hover, #body #main #section-products .container-products-cards .div-card .div-btn-details-card .btn-details-disabled:hover, #body #main #section-products .container-products-cards .div-card .div-btn-deleteProduct .btn-deleteProduct:hover, #body #main #section-products .container-products-cards .div-card .div-btn-deleteProduct .btn-editProduct:hover, #body #main #container-product-detail .div-detail-body #container-btn-addToCart #btn-addToCart:hover, #body #main #container-cart-tab #form-btn-submit #btn-submit:hover, #body #main #container-cart-tab #container-btn-delete #btn-delete:hover, #body #main #section-create-product #container-form-create-product .form-create-product #container-btn-publishProduct .btn-form-publishProduct:hover, #body #main #section-login #div-container-form-login #form-login .div-container-optionsForm #btn-login:hover, #body #main #section-login #div-container-form-login #form-login .div-container-optionsForm #btn-registerGitHub:hover, #body #main #section-register-form #div-container-register-form #register-form .btn-register:hover, #body #main #section-restore-password #div-container-restore-form #form-restore-password #div-container-btn-send #btn-send-restore:hover, #body #main #section-change-password #container-form-change-password #form-change-password .btn-change-password:hover, #body #main #section #cont-input #send:hover, #body #main #section-container-table-users #table-users #table-body-user .tr-body-users .td-body-users-options .btn-delete-user-table:hover, #body #main #section-container-table-users #table-users #table-body-user .tr-body-users .td-body-users-options .btn-premium-user-table:hover, #body #main #container-update-product .div-update-body #container-btn-update #btn-update:hover {
  transform: scale(1.1); }

.button:disabled, #body #main #section-info-user #container-btn-actions .container-btn-closeSession .btn-closeSession:disabled, #body #main #section-info-user #container-btn-actions .btn-exclusive:disabled, #body #main #section-info-user #container-btn-actions .btn:disabled, #body #main #section-products .container-products-cards .div-card .div-btn-details-card .btn-details:disabled, #body #main #section-products .container-products-cards .div-card .div-btn-details-card .btn-details-disabled:disabled, #body #main #section-products .container-products-cards .div-card .div-btn-deleteProduct .btn-deleteProduct:disabled, #body #main #section-products .container-products-cards .div-card .div-btn-deleteProduct .btn-editProduct:disabled, #body #main #container-product-detail .div-detail-body #container-btn-addToCart #btn-addToCart:disabled, #body #main #container-cart-tab #form-btn-submit #btn-submit:disabled, #body #main #container-cart-tab #container-btn-delete #btn-delete:disabled, #body #main #section-create-product #container-form-create-product .form-create-product #container-btn-publishProduct .btn-form-publishProduct:disabled, #body #main #section-login #div-container-form-login #form-login .div-container-optionsForm #btn-login:disabled, #body #main #section-login #div-container-form-login #form-login .div-container-optionsForm #btn-registerGitHub:disabled, #body #main #section-register-form #div-container-register-form #register-form .btn-register:disabled, #body #main #section-restore-password #div-container-restore-form #form-restore-password #div-container-btn-send #btn-send-restore:disabled, #body #main #section-change-password #container-form-change-password #form-change-password .btn-change-password:disabled, #body #main #section #cont-input #send:disabled, #body #main #section-container-table-users #table-users #table-body-user .tr-body-users .td-body-users-options .btn-delete-user-table:disabled, #body #main #section-container-table-users #table-users #table-body-user .tr-body-users .td-body-users-options .btn-premium-user-table:disabled, #body #main #container-update-product .div-update-body #container-btn-update #btn-update:disabled {
  opacity: 70%; }

.button:disabled:hover, #body #main #section-info-user #container-btn-actions .container-btn-closeSession .btn-closeSession:disabled:hover, #body #main #section-info-user #container-btn-actions .btn-exclusive:disabled:hover, #body #main #section-info-user #container-btn-actions .btn:disabled:hover, #body #main #section-products .container-products-cards .div-card .div-btn-details-card .btn-details:disabled:hover, #body #main #section-products .container-products-cards .div-card .div-btn-details-card .btn-details-disabled:disabled:hover, #body #main #section-products .container-products-cards .div-card .div-btn-deleteProduct .btn-deleteProduct:disabled:hover, #body #main #section-products .container-products-cards .div-card .div-btn-deleteProduct .btn-editProduct:disabled:hover, #body #main #container-product-detail .div-detail-body #container-btn-addToCart #btn-addToCart:disabled:hover, #body #main #container-cart-tab #form-btn-submit #btn-submit:disabled:hover, #body #main #container-cart-tab #container-btn-delete #btn-delete:disabled:hover, #body #main #section-create-product #container-form-create-product .form-create-product #container-btn-publishProduct .btn-form-publishProduct:disabled:hover, #body #main #section-login #div-container-form-login #form-login .div-container-optionsForm #btn-login:disabled:hover, #body #main #section-login #div-container-form-login #form-login .div-container-optionsForm #btn-registerGitHub:disabled:hover, #body #main #section-register-form #div-container-register-form #register-form .btn-register:disabled:hover, #body #main #section-restore-password #div-container-restore-form #form-restore-password #div-container-btn-send #btn-send-restore:disabled:hover, #body #main #section-change-password #container-form-change-password #form-change-password .btn-change-password:disabled:hover, #body #main #section #cont-input #send:disabled:hover, #body #main #section-container-table-users #table-users #table-body-user .tr-body-users .td-body-users-options .btn-delete-user-table:disabled:hover, #body #main #section-container-table-users #table-users #table-body-user .tr-body-users .td-body-users-options .btn-premium-user-table:disabled:hover, #body #main #container-update-product .div-update-body #container-btn-update #btn-update:disabled:hover {
  transform: scale(1); }

.input, #body #main #section-create-product #container-form-create-product .form-create-product .div-container-input .input-form-create-product, #body #main #section-login #div-container-form-login #form-login .input-form-login, #body #main #section-register-form #div-container-register-form #register-form .input-register-form, #body #main #section-restore-password #div-container-restore-form #form-restore-password #div-input-restore-form .input-restore-form, #body #main #section-change-password #container-form-change-password #form-change-password .imput-form-change-password, #body #main #section #cont-input #message, #body #main #container-update-product .div-update-body .div-update .input-update {
  border-radius: 10px;
  border: none;
  height: 2rem;
  padding: 10px; }

#body #header {
  background-color: #DAC0A3; }
  #body #header #navbar {
    display: flex;
    justify-content: center;
    align-items: center; }
    #body #header #navbar a {
      padding: 1rem 0; }

#body #footer {
  background-color: #DAC0A3;
  padding: 1.5rem;
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center; }
  #body #footer .pagination-nav {
    display: flex;
    justify-content: space-between;
    list-style: none;
    background-color: #EADBC8;
    margin: 0;
    padding: 0;
    width: 13rem;
    border-radius: 10px; }
    #body #footer .pagination-nav .page-item {
      border-radius: 10px;
      background-color: #F8F0E5;
      display: flex;
      align-items: center;
      padding: 0 10px; }
      #body #footer .pagination-nav .page-item .page-link {
        padding: 10px 14px; }

#body #main #section-info-user {
  border-radius: 10px;
  margin-top: 2rem;
  background-color: #DAC0A3;
  display: flex;
  flex-direction: column;
  align-items: center; }
  #body #main #section-info-user #container-info-user {
    border-radius: 10px;
    margin: 1.5rem 0;
    background-color: #EADBC8;
    width: 18rem;
    height: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around; }
    #body #main #section-info-user #container-info-user .img-user {
      width: 5rem;
      border-radius: 100%; }
  #body #main #section-info-user #container-btn-actions {
    width: 80%;
    display: flex;
    justify-content: center;
    margin: 1.5rem; }
    #body #main #section-info-user #container-btn-actions .container-btn-closeSession .btn-closeSession {
      background-color: #f76b6b; }
    #body #main #section-info-user #container-btn-actions .btn-exclusive {
      background-color: #fece49; }
    #body #main #section-info-user #container-btn-actions .btn {
      background-color: #F8F0E5; }

#body #main #section-products {
  border-radius: 10px;
  margin-top: 2rem;
  padding: 1.5rem 0;
  background-color: #DAC0A3;
  display: flex;
  justify-content: center; }
  #body #main #section-products .container-products-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%; }
    #body #main #section-products .container-products-cards .div-card {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-bottom: 1rem;
      margin: 0.5rem;
      border-radius: 10px;
      background-color: #EADBC8;
      height: 27rem;
      width: 13rem; }
      #body #main #section-products .container-products-cards .div-card .div-container-content-card .div-img-card {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 10rem;
        background-color: white;
        border-radius: 10px; }
        #body #main #section-products .container-products-cards .div-card .div-container-content-card .div-img-card .img-card {
          width: 8rem; }
      #body #main #section-products .container-products-cards .div-card .div-container-content-card .div-card-body {
        padding: 1rem; }
        #body #main #section-products .container-products-cards .div-card .div-container-content-card .div-card-body .card-title {
          font-size: 20px;
          font-weight: bold;
          margin-bottom: 1rem;
          text-transform: capitalize;
          height: 3rem; }
        #body #main #section-products .container-products-cards .div-card .div-container-content-card .div-card-body .card-description {
          height: 3.5rem; }
        #body #main #section-products .container-products-cards .div-card .div-container-content-card .div-card-body .card-price {
          font-weight: bold; }
      #body #main #section-products .container-products-cards .div-card .div-btn-details-card {
        display: flex;
        justify-content: center; }
        #body #main #section-products .container-products-cards .div-card .div-btn-details-card .btn-details {
          background-color: #ffa932; }
        #body #main #section-products .container-products-cards .div-card .div-btn-details-card .btn-details-disabled {
          background-color: #DAC0A3; }
      #body #main #section-products .container-products-cards .div-card .div-btn-deleteProduct {
        display: flex;
        justify-content: center; }
        #body #main #section-products .container-products-cards .div-card .div-btn-deleteProduct .btn-deleteProduct {
          background-color: #f76b6b; }
        #body #main #section-products .container-products-cards .div-card .div-btn-deleteProduct .btn-editProduct {
          background-color: #fece49; }
          #body #main #section-products .container-products-cards .div-card .div-btn-deleteProduct .btn-editProduct a {
            text-decoration: none; }

#body #main #container-product-detail {
  background-color: #DAC0A3;
  margin-top: 1.5rem;
  padding: 1rem 1.5rem;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  height: 30rem; }
  #body #main #container-product-detail .div-detail-img {
    background-color: white;
    border-radius: 10px;
    width: 32rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1.5rem; }
    #body #main #container-product-detail .div-detail-img .img-detail {
      height: 20rem; }
  #body #main #container-product-detail .div-detail-body {
    background-color: #EADBC8;
    border-radius: 10px;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    #body #main #container-product-detail .div-detail-body .div-detail .detail-title {
      font-weight: bold;
      margin: 1rem 0; }
    #body #main #container-product-detail .div-detail-body .div-detail .detail-text {
      margin: 0.5rem 0; }
    #body #main #container-product-detail .div-detail-body .div-detail .detail-price {
      font-weight: bold;
      margin: 1.5rem 0 0.5rem 0; }
    #body #main #container-product-detail .div-detail-body .div-detail .detail-code, #body #main #container-product-detail .div-detail-body .div-detail .detail-id {
      margin: 1rem 0;
      color: #838383; }
    #body #main #container-product-detail .div-detail-body #container-btn-addToCart {
      display: flex;
      justify-content: center; }
      #body #main #container-product-detail .div-detail-body #container-btn-addToCart #btn-addToCart {
        background-color: #ffa932; }

#body #main #container-cart-tab {
  background-color: #DAC0A3;
  margin-top: 1.5rem;
  padding: 1rem 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px; }
  #body #main #container-cart-tab #table-cart {
    width: 90%;
    background-color: #EADBC8;
    margin: 1.5rem 0; }
    #body #main #container-cart-tab #table-cart #table-head-cart #tr-head-cart {
      background-color: #0F2C59;
      border-top: 2px solid #000b1d;
      border-bottom: 2px solid #000b1d; }
      #body #main #container-cart-tab #table-cart #table-head-cart #tr-head-cart .th-table-cart {
        padding: 0.5rem 0 0.5rem 0;
        text-align: center;
        color: white;
        border-left: 2px solid #000b1d;
        border-right: 2px solid #000b1d; }
    #body #main #container-cart-tab #table-cart #table-body-cart .tr-body-cart {
      border-bottom: 2px solid #000b1d;
      border-right: 2px solid #000b1d;
      border-left: 2px solid #000b1d; }
      #body #main #container-cart-tab #table-cart #table-body-cart .tr-body-cart .td-table-cart {
        padding: 0.5rem 0;
        text-align: center;
        text-transform: capitalize; }
        #body #main #container-cart-tab #table-cart #table-body-cart .tr-body-cart .td-table-cart .img-td-table-cart {
          width: 4rem; }
  #body #main #container-cart-tab #form-btn-submit {
    margin-bottom: 1rem; }
    #body #main #container-cart-tab #form-btn-submit #btn-submit {
      background-color: #ffa932; }
  #body #main #container-cart-tab #container-btn-delete #btn-delete {
    background-color: #f76b6b; }

#body #main #section-create-product {
  background-color: #DAC0A3;
  margin: 1.5rem;
  padding: 1rem 1.5rem;
  border-radius: 10px; }
  #body #main #section-create-product #container-form-create-product {
    display: flex;
    flex-direction: column;
    align-items: center; }
    #body #main #section-create-product #container-form-create-product .title-create-product {
      font-weight: bold; }
    #body #main #section-create-product #container-form-create-product .form-create-product {
      display: flex;
      flex-direction: column;
      width: 80%; }
      #body #main #section-create-product #container-form-create-product .form-create-product .div-container-input {
        display: flex;
        flex-direction: column; }
        #body #main #section-create-product #container-form-create-product .form-create-product .div-container-input .span-form-create-product {
          font-weight: bold;
          margin-top: 1rem; }
      #body #main #section-create-product #container-form-create-product .form-create-product #container-btn-publishProduct {
        display: flex;
        justify-content: center; }
        #body #main #section-create-product #container-form-create-product .form-create-product #container-btn-publishProduct .btn-form-publishProduct {
          background-color: #fece49;
          margin-top: 2rem; }

#body #main #section-login {
  background-color: #DAC0A3;
  margin-top: 1.5rem;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  padding: 1rem 1.5rem; }
  #body #main #section-login #div-container-form-login {
    background-color: #EADBC8;
    border-radius: 10px;
    width: 50%;
    padding: 2rem; }
    #body #main #section-login #div-container-form-login #title-form-login {
      font-weight: bold; }
    #body #main #section-login #div-container-form-login #form-login {
      display: flex;
      flex-direction: column;
      align-items: center; }
      #body #main #section-login #div-container-form-login #form-login .input-form-login {
        width: 100%;
        margin-top: 1rem; }
      #body #main #section-login #div-container-form-login #form-login .div-container-optionsForm {
        width: 100%;
        display: flex;
        flex-direction: column; }
        #body #main #section-login #div-container-form-login #form-login .div-container-optionsForm #btn-login {
          background-color: #ffa932;
          margin: 1rem 0 0; }
        #body #main #section-login #div-container-form-login #form-login .div-container-optionsForm #btn-registerGitHub {
          background-color: #F8F0E5;
          margin: 1rem 0 0; }
    #body #main #section-login #div-container-form-login #div-container-linksOptions {
      margin-top: 2rem; }

#body #main #section-register-form {
  background-color: #DAC0A3;
  margin-top: 1.5rem;
  padding: 1rem 1.5rem;
  border-radius: 10px;
  display: flex;
  justify-content: center; }
  #body #main #section-register-form #div-container-register-form {
    width: 50%;
    background-color: #EADBC8;
    padding: 2rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center; }
    #body #main #section-register-form #div-container-register-form #title-register-form {
      font-weight: bold; }
    #body #main #section-register-form #div-container-register-form #register-form {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%; }
      #body #main #section-register-form #div-container-register-form #register-form .input-register-form {
        width: 100%;
        margin-top: 1rem; }
      #body #main #section-register-form #div-container-register-form #register-form .btn-register {
        width: 100%;
        background-color: #ffa932;
        margin-top: 1rem; }
    #body #main #section-register-form #div-container-register-form #div-container-link-login {
      margin-top: 2rem; }

#body #main #section-restore-password {
  background-color: #DAC0A3;
  margin-top: 1.5rem;
  padding: 1rem 1.5rem;
  border-radius: 10px;
  display: flex;
  justify-content: center; }
  #body #main #section-restore-password #div-container-restore-form {
    background-color: #EADBC8;
    border-radius: 10px;
    padding: 2rem;
    width: 50%; }
    #body #main #section-restore-password #div-container-restore-form #title-restore-form {
      font-weight: bold; }
    #body #main #section-restore-password #div-container-restore-form #form-restore-password {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      #body #main #section-restore-password #div-container-restore-form #form-restore-password #div-input-restore-form {
        width: 100%;
        margin: 1rem; }
        #body #main #section-restore-password #div-container-restore-form #form-restore-password #div-input-restore-form .input-restore-form {
          width: 100%; }
      #body #main #section-restore-password #div-container-restore-form #form-restore-password #div-container-btn-send {
        display: flex;
        justify-content: center;
        margin-top: 2rem;
        width: 100%; }
        #body #main #section-restore-password #div-container-restore-form #form-restore-password #div-container-btn-send #btn-send-restore {
          width: 100%;
          background-color: #ffa932;
          margin: 0; }

#body #main #section-change-password {
  background-color: #DAC0A3;
  margin-top: 1.5rem;
  padding: 1rem 1.5rem;
  border-radius: 10px;
  display: flex;
  justify-content: center; }
  #body #main #section-change-password #container-form-change-password {
    background-color: #EADBC8;
    border-radius: 10px;
    padding: 2rem;
    width: 50%; }
    #body #main #section-change-password #container-form-change-password #title-change-password {
      font-weight: bold; }
    #body #main #section-change-password #container-form-change-password #form-change-password {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      #body #main #section-change-password #container-form-change-password #form-change-password .imput-form-change-password {
        width: 100%;
        margin: 0 0 1rem; }
      #body #main #section-change-password #container-form-change-password #form-change-password .btn-change-password {
        width: 100%;
        background-color: #ffa932; }

#body #main #section-message {
  background-color: #DAC0A3;
  margin-top: 1.5rem;
  padding: 1rem 1.5rem;
  border-radius: 10px;
  display: flex;
  justify-content: center; }
  #body #main #section-message .div-container-message {
    background-color: #EADBC8;
    padding: 2rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%; }
    #body #main #section-message .div-container-message .title-messageView {
      font-weight: bold;
      text-transform: capitalize; }
    #body #main #section-message .div-container-message .message-messageView {
      margin-top: 1rem; }
    #body #main #section-message .div-container-message .link-messageView {
      margin-top: 2rem; }

#body #main #section {
  background-color: #DAC0A3;
  margin: 1.5rem;
  padding: 1rem 1.5rem;
  border-radius: 10px; }
  #body #main #section #p {
    text-align: center; }
    #body #main #section #p #name {
      font-weight: bold; }
  #body #main #section #historial {
    padding: 1rem 1.5rem;
    border-radius: 10px;
    background-color: #F8F0E5; }
    #body #main #section #historial .cont-msj-username {
      padding: 0.5rem 0; }
      #body #main #section #historial .cont-msj-username .username {
        font-weight: bold;
        margin-right: 0.5rem;
        padding: 4px;
        border-radius: 10px; }
  #body #main #section #cont-input {
    background-color: #EADBC8;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    margin: 1rem 0;
    border-radius: 10px; }
    #body #main #section #cont-input #message {
      width: 70%; }
    #body #main #section #cont-input #send {
      padding: 0.5rem 1rem;
      background-color: #ffa932; }

#body #main #section-container-table-users {
  background-color: #DAC0A3;
  margin-top: 1.5rem;
  padding: 1rem 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px; }
  #body #main #section-container-table-users #table-users {
    width: 90%;
    background-color: #EADBC8;
    margin: 1.5rem 0; }
    #body #main #section-container-table-users #table-users #table-head-user #tr-head-users {
      background-color: #0F2C59;
      border-top: 2px solid #000b1d;
      border-bottom: 2px solid #000b1d; }
      #body #main #section-container-table-users #table-users #table-head-user #tr-head-users .th-table-users {
        padding: 0.5rem 0 0.5rem 0;
        text-align: center;
        color: white;
        border-left: 2px solid #000b1d;
        border-right: 2px solid #000b1d; }
    #body #main #section-container-table-users #table-users #table-body-user .tr-body-users {
      border-bottom: 2px solid #000b1d;
      border-right: 2px solid #000b1d;
      border-left: 2px solid #000b1d; }
      #body #main #section-container-table-users #table-users #table-body-user .tr-body-users .td-body-users-options {
        padding: 0.5rem 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; }
        #body #main #section-container-table-users #table-users #table-body-user .tr-body-users .td-body-users-options .btn-delete-user-table {
          background-color: #f76b6b;
          margin-bottom: 1rem; }
        #body #main #section-container-table-users #table-users #table-body-user .tr-body-users .td-body-users-options .btn-premium-user-table {
          background-color: #fece49; }
      #body #main #section-container-table-users #table-users #table-body-user .tr-body-users .td-body-users {
        padding: 0.5rem 0;
        text-align: center; }
        #body #main #section-container-table-users #table-users #table-body-user .tr-body-users .td-body-users .img-profile-table-user {
          width: 4rem; }

#body #main #realtimeProducts-container {
  background-color: #DAC0A3;
  margin-top: 1.5rem;
  padding: 1rem 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px; }
  #body #main #realtimeProducts-container #table-realtimeproducts {
    width: 100%;
    background-color: #EADBC8;
    margin: 1.5rem 0; }
    #body #main #realtimeProducts-container #table-realtimeproducts #thead-realtimeproducts #tr-head-realtimeproducts {
      background-color: #0F2C59;
      border-top: 2px solid #000b1d;
      border-bottom: 2px solid #000b1d; }
      #body #main #realtimeProducts-container #table-realtimeproducts #thead-realtimeproducts #tr-head-realtimeproducts .th-table-realtimeproducts {
        padding: 0.5rem 0 0.5rem 0;
        text-align: center;
        color: white;
        border-left: 2px solid #000b1d;
        border-right: 2px solid #000b1d; }
    #body #main #realtimeProducts-container #table-realtimeproducts #tbody-websocket tr {
      border-bottom: 2px solid #000b1d;
      border-right: 2px solid #000b1d;
      border-left: 2px solid #000b1d; }
      #body #main #realtimeProducts-container #table-realtimeproducts #tbody-websocket tr .td-body-realTimeProducts {
        border-left: 2px solid #000b1d;
        border-right: 2px solid #000b1d;
        padding: 0.5rem 0;
        text-align: center; }

#body #main #container-update-product {
  background-color: #DAC0A3;
  margin-top: 1.5rem;
  padding: 1rem 1.5rem;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  height: 30rem; }
  #body #main #container-update-product .div-update-img {
    background-color: white;
    border-radius: 10px;
    width: 32rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1.5rem; }
    #body #main #container-update-product .div-update-img .img-update {
      height: 20rem; }
  #body #main #container-update-product .div-update-body {
    background-color: #EADBC8;
    border-radius: 10px;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%; }
    #body #main #container-update-product .div-update-body .div-update {
      display: flex;
      flex-direction: column; }
      #body #main #container-update-product .div-update-body .div-update .span-update {
        text-transform: capitalize; }
      #body #main #container-update-product .div-update-body .div-update .update-code, #body #main #container-update-product .div-update-body .div-update .update-id {
        margin: 1rem 0;
        color: #838383; }
    #body #main #container-update-product .div-update-body #container-btn-update {
      display: flex;
      justify-content: center; }
      #body #main #container-update-product .div-update-body #container-btn-update #btn-update {
        background-color: #ffa932; }

#body {
  background-color: #0F2C59; }
  #body #main {
    margin: 0 4rem; }

* {
  margin: 0;
  padding: 0; }
