#body #main {
    #container-product-detail {
        background-color: $color-1;
        margin-top: $margin-default;
        padding: 1rem 1.5rem;
        display: flex;
        justify-content: center;
        .div-detail-img {
            background-color: $color-white;
            border-radius: 10px;
            width: 32rem;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 1.5rem;
            .img-detail {
                height: 20rem;
            }
        }
        .div-detail-body {
            background-color: $color-2;
            border-radius: 10px;
            padding: 1.5rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .div-detail {
                .detail-title {
                    @extend .bigText;
                    font-weight: bold;
                    margin: 1rem 0;
                }
                .detail-text {
                    @extend .middleText;
                    margin: 0.5rem 0;
                }
                .detail-price {
                    @extend .middleText;
                    font-weight: bold;
                    margin: 1.5rem 0 0.5rem 0;
                }
                .detail-code, .detail-id {
                    margin: 1rem 0;
                    @extend .text;
                    color: rgb(131, 131, 131);
                }
            }
            #container-btn-addToCart {
                display: flex;
                justify-content: center;
                #btn-addToCart {
                    background-color: $color-4;
                    @extend .button;
                }
            }
        }
    }
}