<link rel="stylesheet" href="/css/main.css">

<main id="main">
    <section id="section-change-password">
        <div id="container-form-change-password">
            <h1 id="title-change-password">Ingresa una nueva contraseña para:</h1>
            <p class="p-email-to-change-password">{{email}}</p>
            <form id="form-change-password" action="/api/users/changePassword/{{email}}" method="post">
                {{#if messageError}}<p class="message-error">❌{{messageError}}</p>{{/if}}
                <input class="imput-form-change-password" type="password" placeholder="Nueva contraseña" name="password">
                <button class="btn-change-password" type="submit">Cambiar contraseña</button>
            </form>
        </div>
    </section>
</main>