<section class="container">
	<div class="row bg-light login-section">
		<div class="col-12 p-4">
            <h1>Completa los datos de tu nuevo producto:</h1>
            <form action="/api/products" method="post">
            {{#if messageError}} <p style="color: brown;">{{messageError}}</p> {{/if}}
                <div class="row">
                    <div class="col-md-12 mb-3">
                        <span>Nombre del Producto</span>
                        <input type="text" class="form-control" name="title">
                        <span>Descripción</span>
                        <input type="text" class="form-control" placeholder="Una descripcion sobre las caracteristicas principales" name="description">
                        <span>Imagen</span>
                        <input type="text" class="form-control" name="thumbnail">
                        <span>Categoria</span>
                        <input type="text" class="form-control" name="category">
                        <span>Precio</span>
                        <input type="number" class="form-control" placeholder="Precio sin signos" name="price">
                        <span>Stock</span>
                        <input type="number" class="form-control" name="stock">
                    </div>
                    <div class="col-md-6">
                        <button type="submit" class="btn btn-primary col-12">Publicar producto</button>
                    </div>
                </div>
            </form>
		</div>
	</div>
</section>