<main id="main">
	<section id="section-login">
		
		<div id="div-container-form-login">
			<h1 id="title-form-login">Ingresar</h1>
			<form id="form-login" action="/api/users/auth" method="post">

				<input class="input-form-login" type="email" placeholder="Correo Electrónico" name="email">

				<input class="input-form-login" type="password" placeholder="Contraseña" name="password">

				<div class="div-container-optionsForm">
					<button id="btn-login" type="submit">Ingresar</button>
					
					<button id="btn-registerGitHub">
						<a id="a-loginWithGitHub" href="/api/users/github">Ingresar con GitHub</a>
					</button>
				</div>

			</form>

			<div id="div-container-linksOptions">
				<p class="p-link-option">¿No tienes una cuenta todavía? <a class="a-link-option" href="/register">Regístrate</a></p>
				<p class="p-link-option"><a class="a-link-option" href="/restorePassword">No recuerdo la contraseña</a></p>
			</div>
		</div>

	</section>
</main>