<section class="container">
	<div class="row bg-light login-section">
		<div class="p-4">
            <h1>{{title}}</h1>
            <h2>{{message}}</h2>
            {{#if link}}
                <a href="{{link}}">{{linkName}}</a>
            {{/if}}
		</div>
	</div>
</section>