<link rel="stylesheet" href="/css/main.css">

<main id="main">
    <section id="section-message">
        <div class="div-container-message">
            <h1 class="title-messageView">{{title}}</h1>
            <h2 class="message-messageView">{{message}}</h2>
            {{#if link}}
                <a class="link-messageView" href="{{link}}">{{linkName}}</a>
            {{/if}}
        </div>
    </section>
</main>