<link rel="stylesheet" href="/css/main.css">

<main id="main">
    <section id="section-restore-password">
        <div id="div-container-restore-form">
            <h1 id="title-restore-form">Ingresa el email del usuario a recuperar</h1>
            <form id="form-restore-password" action="/api/users/restore" method="post">
                <div id="div-input-restore-form">
                    {{#if messageError}} <p class="message-error">❌{{messageError}}</p> {{/if}}
                    <input class="input-restore-form" type="email" placeholder="Correo Electrónico" name="email">
                </div>

                <p class="p-description-restore-form">Te enviaremos un correo con un link para que puedas cambiar la contraseña</p>

                <div id="div-container-btn-send">
                    <button id="btn-send-restore" type="submit">Enviar</button>
                </div>
            </form>
        </div>
    </section>
</main>